html{
    overflow-x: hidden;
}
body{
    background: #ffff;
}
h1,h2,h3,h4,h5,h6{
    font-family:"inter-extrabold";
}
p{
    color: #ffff;
    font-size: 15px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
/* .......Header......*/
.header-area{
padding: 15px 0px;
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
z-index: 9;
background: #ffff;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo a span{
    font-family: "inter-bold";
    color: rgb(15, 23, 36);
    font-size: 18px;
   
}
.logo div{
    width: 30px;
    height: 29px;
    background-color: rgb(92, 124, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.logo a{
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}
.nav-list{  
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list ul{
    display: flex;
    gap: 31px;
}
.nav-list ul a{
    font-size: 13px;
    color: rgb(147, 162, 184);
    font-family: "inter-medium";
}
.nav-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
} 
.nav-menu i{
    color: rgb(147, 162, 184);
}
.nav-menu button{
    border: none;
    background: linear-gradient(to right, rgb(106, 99, 242), rgb(131, 93, 245));
    color: #fff;
    font-family: "inter-medium";
    border-radius: 6px;
    width: 84px;
    height: 32px;
    font-size: 14px;
}
.nav-menu span{
    font-size: 13px;
    color: #000;
    font-family: "inter-medium";
}
/* ...footer-section.....*/
.footer-area{
    background-color: rgb(15, 23, 41);
    padding-top: 40px;
}
.footer-text span{
    font-family: "inter-bold";
    color:#fff;
    font-size: 18px;
}
.footer-text p{
    color: rgb(147, 162, 184);
    font-size: 15px;
}
.footer-list{
    display: flex;
    gap: 60px;
    justify-content: end;
}
.footer-list .footer-listfirst span{
    font-family: "inter-bold";
    color:#fff;
    font-size: 14px;
}
.footer-list .footer-listfirst ul a{
    color: rgb(147, 162, 184);
    font-size: 15px;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(30, 41, 59);
    margin: 30px 0;
    padding-top: 30px;
}
.footer-copyright span{
    color: rgb(147, 162, 184);
    font-size: 15px;
}
.copyright-social{
    display: flex;
    gap: 30px;
}
.social-icon{
    color: rgb(147, 162, 184);
}
/* .......Home.......*/

/* .....Home-banner...*/
.homebanner-area{
    padding: 50px 0;
    margin-top: 50px;
    background: rgb(240, 246, 255);
      display: flex;
    align-items: center;
    justify-content: center;

    
}
.home-bannertext p{
    color: #000;
}
.home-bannerbox{
    background-color: #ffff;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 0;
    border-radius: 10px;
    border-color: rgb(202, 212, 224);
}
.home-bannertext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}
.home-bannertext span{
    font-family: "inter-semibold";
    font-size: 30px;
    color: rgb(15, 23, 36);
}
.home-bannertext h3{
    font-size: 50px;
}

.home-bannertext .word-change{
     background: linear-gradient(
    to right,
    rgb(106, 99, 242),
    rgb(131, 93, 245)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
    font-size: 50px;
    font-family:"inter-extrabold";
}
.home-bannertext p{
  font-family: "inter-regular";
  font-size: 15;
  color: rgb(147, 162, 184);
}
.upload-logo{
    width: 100px;
    height: 100px;
    background:rgb(240, 246, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(92, 124, 255);
}
.home-bannerbox p{
   font-family: "inter-regular";
  font-size: 10px;
  color: rgb(147, 162, 184);;
}

.home-bannerbox span{
     font-family: "inter-semibold";
    font-size: 15px;
    color: rgb(15, 23, 36);
    margin-top: 20px;
}
.home-bannerbox button{
    border: none;
    background: linear-gradient(to right, rgb(106, 99, 242), rgb(131, 93, 245));
    color: #fff;
    font-family: "inter-medium";
    border-radius: 30px;
    width: 100px;
    height: 32px;
    font-size: 14px;
}
.home-bannerbox small{
    margin-top: 10px;
    color: rgb(147, 162, 184);
    font-size: 11px;
}

/* ...Home-Menu....*/
.homemenu-area{
    background-color: rgb(247, 250, 255);
    padding: 50px 0;
}
.homemenu-card{
    border: 1px solid rgb(235, 235, 235);
    padding: 20px 0 20px 20px;
    border-radius: 10px;
    margin: 0 10px 10px 0 ;
}
.homemenu-card span{
    font-family: "inter-semibold";
    font-size: 15px;
    color: rgb(15, 23, 36);
}
.homemenu-card p{
  font-family: "inter-regular";
  font-size: 10px;
  color: rgb(147, 162, 184);
}
.homemenu-card .homemenu-logo{
    width: 35px;
    height: 35px;
    background-color: rgb(225, 229, 242);
    color: rgb(92, 124, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .....Home-Step.....*/
.homestep-area{
    background-color: rgb(237, 241, 255);
    padding: 60px 0;
}
.homecount-logo{
    width: 80px;
    height: 80px;
    border-radius:50%;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homestep-count{
    display: flex;
    flex-direction: column;
    align-items: center;
}