@font-face {
  font-family: "inter-regular";
  src: url(../public/fonts/Inter-Regular.woff)format("woff"),
      url(../public/fonts/Inter-Regular.woff2)format("woff2")
}

@font-face {
  font-family: "inter-bold";
  src: url(../public/fonts/Inter-Bold.woff)format("woff"),
      url(../public/fonts/Inter-Bold.woff2)format("woff2")
}

@font-face {
  font-family: "inter-extrabold";
  src: url(../public/fonts/Inter-ExtraBold.woff)format("woff"),
      url(../public/fonts/Inter-ExtraBold.woff2)format("woff2")
}

@font-face {
  font-family: "inter-medium";
  src: url(../public/fonts/Inter-Medium.woff)format("woff"),
        url(../public/fonts/Inter-Medium.woff2)format("woff2")
}

@font-face {
  font-family: "inter-semibold";
  src: url(../public/fonts/Inter-SemiBold.woff)format("woff"),
      url(../public/fonts/Inter-SemiBold.woff2)format("woff2")
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


